<nav class="navbar navbar-default">
    <div class="navbar-header">
      <a href="#/"><img src="assets/logo.png" class="logo" /></a>
    </div>
    <ul class="nav navbar-nav nav-pills">
      <li routerLinkActive="active">
        <a routerLink="/home">HOME</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/admin-payment">PAYMENTS</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/admin-transaction">TRANSACTION</a>
      </li>
    </ul>

  </nav>