<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-sm-3 product-column" *ngFor="let produc of products">
        <div class="card product-cart" style="width: 18rem;" >
            <img class="card-img-top product-img text-center" src="../../../assets/product.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">Product</h5>
              <p class="card-text text-center">Simple Description of</p>
              <a href="#" class="btn btn-clear text-center" style="display: block">MORE</a>
            </div>
          </div>
    </div>
  </div>
</div>


