<nav class="navbar navbar-default">
    <div class="navbar-header">
      <a href="#/"><img src="assets/logo.png" class="logo" /></a>
    </div>
    <ul class="nav navbar-nav nav-pills">
      <li routerLinkActive="active">
        <a routerLink="/home">HOME</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/products">PRODUCT</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/basicform">OFFERS</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/templateform">ABOUT US</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/reactiveform">SIGN UP</a>
      </li>
      <li class="divider"></li>
      <li><a class="text-center" href="">View Cart</a></li>
      <li><a class="text-center" href="/admin">LOG AS ADMIN</a></li>
    </ul>

  </nav>